* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background: #000;
  overflow-x: hidden;
  border: none;
}

nav {
  height: 70px;
  width: 100%;
  text-align: center;
  /* position: fixed; */
  top: 0;
  z-index: 1;
}

.bgColor {
  background-color: #000;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.checkbtn {
  font-size: 25px;
  color: #b2c5b2;
  cursor: pointer;
  line-height: 65px;
  display: none;
}

#check {
  display: none;
}

.socials {
  display: none;
}

header {
  height: 100vh;
  background-color: #000;
}

.header-text {
  padding-left: 0px;
  width: fit-content;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text p span {
  color: #6b8e4e;
}

/* header h3 {
  color: white;
  text-align: left;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 30px;
} */

header h1 {
  font-size: 45px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header p {
  font-size: 22px;
  color: rgb(233, 233, 233, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dot {
  font-size: 60px;
  color: #6b8e4e;
}

/* .header-text p{
    padding: 12px 14px;
    margin: 15px 0px;
    border
    color: white;
    width: 145px;
    background: #6B8E4E;
    display: inline-block;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
} */

.header-text div {
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 15px 10px 15px 0px;
}

.header-text i {
  color: #fff;
  font-size: 20px;
}

.header-text i:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.header-text .fa-github {
  padding: 12px 16px;
}

.header-text .linkedin-in {
  --animate-duration: 1s;
}

.header-text .twitter {
  --animate-duration: 0.7s;
}

.header-text .instagram {
  --animate-duration: 0.5s;
}

.header-text .github {
  --animate-duration: 0.3s;
}

#arrow {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 90%;
  left: 49.35%;
  transform: translate(-50%, -50%);
}

/* ABOUT ME */

#About {
  height: fit-content;
  max-width: 100%;
  margin: 150px auto;
  padding: 0px 0px;
  background: rgb(0, 0, 0, 0.8);
  text-align: center;
}

#About h1 {
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.about-div {
  width: 85%;
  height: 400px;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-img-div {
  width: fit-content;
  height: 399px;
  margin-right: 30px;
}

.about-img-div img {
  /* width: 100%; */
  height: 399px;
  margin: 0px;
  filter: grayscale(100%);
}

.about-note {
  /* background: rgba(255, 255, 255, 0.05); */
  margin: 0px 0px 10px 0px;
  width: 639px;
  height: 100%;
  text-align: left;
  padding: 0px 30px;
  color: white;
  position: relative;
}

.about-content {
  width: 90%;
  position: absolute;
  top: 0%;
}

.about-note h3 {
  color: #6b8e4e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 7px;
}

.about-note-p {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 20px;
  line-height: 22px;
}

.skill-content {
  position: absolute;
  bottom: 0;
}

.skill-header {
  margin-bottom: 10px;
}

#Skills-div {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills {
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.06);
  margin: 10px 10px 0px 0px;
  text-align: center;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
  line-height: normal;
}

.skills i {
  font-size: 20px;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-git-alt {
  color: #f34f29;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-bootstrap {
  color: #563d7c;
}

.tailwind {
  width: 25px;
  height: auto;
}

.supabase {
  width: 16px;
  height: auto;
}

.arrow-up {
  width: 60px;
  height: 60px;
  background-color: #6b8e4e;
  font-size: 35px;
  padding-top: 3px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  border: 2px solid #202020;
  border-radius: 50%;
  z-index: 1;
}

.arrow-up:active {
  background: #40532f;
}

.arrow-up-appear {
  visibility: visible;
}

.arrow-bg {
  background-color: #000;
  color: #6b8e4e;
}

/* Portfolio */
#Portfolio {
  width: 100%;
  height: fit-content;
  padding: 0px;
  background: #000;
}

#Portfolio h1 {
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.projects {
  width: 90%;
  margin: auto;
  padding: 0px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project {
  width: fit-content;
  height: fit-content;
  margin: 60px 0px 0px 0px;
  padding: 60px 60px;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  /* cursor: pointer; */
  color: white;
  background: rgba(255, 255, 255, 0.04);
}

.project_index {
  color: #6b8e4e;
  font-family: "Courier New", Courier, monospace;
}

.project:nth-child(2) .project_image_div {
  float: right;
}

.project:nth-child(2) .project_description {
  float: left;
}

/* .projects .box:hover {
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
} */

.project_image_div {
  width: fit-content;
  height: 285px;
  margin: 0 30px;
}

.project__image {
  display: block;
  height: 100%;
  width: 473px;
  image-rendering: optimizeSpeed;
}

.project__image:hover {
  filter: grayscale();
  transition: ease 0.1s;
  transform: scale(1.02);
}
.project_description {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 285px;
  /* background-color: #0077b5; */
  text-align: center;
  position: relative;
  margin: 0 30px;
}

.project_description h2 {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding-bottom: 20px;
  position: relative;
}

.project_description .description {
  color: rgb(233, 233, 233, 0.8);
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
}

.project_description #skills-div {
  padding-bottom: 15px;
}

.project_description .skills {
  background: none;
  font-size: 15px;
  color: rgb(233, 233, 233, 0.8);

  background: rgba(255, 255, 255, 0.04);
}

.project_links a {
  background: none;
  font-size: 15px;
  text-decoration: none;
  color: rgb(233, 233, 233, 0.8);
  font-family: "Quicksand", sans-serif;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}

.project_links a:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.project_links {
  width: 100%;
  height: 30px;
  display: block;
  position: absolute;
  bottom: 0;
}

.project__text {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

.project__p {
  font-size: 15px;
  font-weight: lighter;
}

.project__overlay a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 10px 0px 0px 0px;
}

.project__overlay a i:hover {
  color: #6b8e4e;
}

/* Contact */

#Contact {
  width: 100%;
  height: fit-content;
  padding: 100px 0px 30px 0px;
  background: #000;
}

#Contact h1 {
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#Contact h3 {
  padding: 50px 0px 10px 0px;
  font-size: 35px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#Contact form {
  width: 100%;
  padding: 10px 30px 50px 30px;
  text-align: center;
}

input {
  background: rgba(255, 255, 255, 0.07);
  border: none;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
}

input:focus {
  outline: none;
}

.name-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.email-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.subject-input {
  width: 88%;
  height: 50px;
  margin: 7px 0px;
}

textarea {
  width: 88%;
  font-size: 15px;
  height: auto;
  margin: 7px 0px;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.07);
  border: none;
  color: white;
}

textarea:focus {
  outline: none;
}

.submit-btn {
  width: 20%;
  height: 50px;
  background: #5f7e45;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.submit-btn:hover {
  background: #40532f;
  transition: ease-in-out 0.5s;
}

.success-body {
  overflow: hidden;
}

#success-header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.success-header div {
  width: fit-content;
  height: fit-content;
}

.success-cancel {
  font-size: 22px;
  position: absolute;
  top: 10%;
  left: 29%;
  cursor: pointer;
  text-decoration: none;
}

.success-cancel a {
  text-decoration: none;
}

.extra-contact {
  display: block;
  width: 100%;
  height: fit-content;
  padding: 10px 30px;
  margin: 50px 0px 0px 0px;
  background: none;
}

.left-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.container {
  width: 43%;
  height: 130px;
  background: rgba(255, 255, 255, 0.07);
  color: white;
  padding: 0px 0px 0px 50px;
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon {
  margin-right: 50px;
}

.icon i {
  font-size: 30px;
  color: #6b8e4e;
  background-color: #000;
  padding: 15px;
  border-radius: 5px;
}

.info h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 0px 0px 10px 0px;
  color: rgba(225, 225, 225, 0.5);
  font-family: "Raleway", sans-serif;
}

.info p {
  font-size: 17px;
  font-family: "Open Sans", Courier, monospace;
}

.info i {
  font-size: 20px;
  padding-right: 20px;
}

.info a {
  color: white;
}

.info .fa-github:hover {
  color: #000;
}

.info .fa-instagram:hover {
  color: #bc2a8d;
}

.info .fa-twitter:hover {
  color: #1da1f2;
}

.info .fa-linkedin-in:hover {
  color: #0077b5;
}

/* FOOTER */

footer {
  text-align: center;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer h4 {
  font-size: 17px;
  font-family: "poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  color: white;
  width: 50%;
}

footer div {
  width: 50%;
  text-align: center;
}

footer .info {
  width: 100%;
  margin: 0;
}

/********************************************************BREAKS***********************************************/

@media (max-width: 1200px) {
  #About {
    height: fit-content;
    max-width: 100%;
    margin: 150px auto;
    padding: 0px 0px;
    background: rgb(0, 0, 0, 0.8);
    text-align: center;
  }

  .about-note {
    margin: 0px 0px 10px 0px;
    width: 639px;
    height: 100%;
    text-align: left;
    padding: 0px 30px;
    color: white;
    position: relative;
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 40px 0px;
    background: #000;
  }

  .name-input {
    width: 45%;
    height: 50px;
    margin: 7px 7px;
  }

  .email-input {
    width: 45%;
    height: 50px;
    margin: 7px 7px;
  }

  .subject-input {
    width: 92%;
  }

  textarea {
    width: 92%;
  }
}

@media (max-width: 1160px) {
  #About {
    height: fit-content;
    max-width: 100%;
    margin: 150px auto;
    padding: 0px 0px;
    background: rgb(0, 0, 0, 0.8);
    text-align: center;
  }

  .about-div {
    width: 90%;
    height: 400px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: fit-content;
    height: 399px;
    margin-right: 30px;
  }

  .about-note {
    margin: 0px 0px 10px 0px;
    width: 639px;
    height: 100%;
    text-align: left;
    padding: 0px;
    color: white;
    position: relative;
  }
}

@media (max-width: 1080px) {
  .about-div {
    width: 95%;
    height: 400px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1050px) {
  #arrow {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 90%;
    left: 49%;
    transform: translate(-50%, -50%);
  }

  #About {
    height: 1250px;
    max-width: 100%;
    margin: 50px;
    padding: 0px 0px;
    background: rgb(0, 0, 0, 0.8);
  }

  .projects {
    width: 100%;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: fit-content;
    height: fit-content;
    margin: 60px 0px 0px 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.04);
  }

  .project_image_div {
    width: fit-content;
    height: 285px;
    margin: 30px;
  }

  .project_description {
    padding: 0;
    width: 300px;
    height: 285px;
    text-align: center;
    position: relative;
    margin: 30px;
  }

  .project:nth-child(2) .project_image_div {
    float: none;
  }

  .project:nth-child(2) .project_description {
    float: none;
  }

  /* About */

  .about-div {
    height: fit-content;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 50%;
    height: 450px;
    margin: 50px 0px;
  }

  .about-img-div img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }

  .about-note {
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-content {
    width: 100%;
    position: static;
    top: 0;
  }

  .skill-content {
    position: static;
  }

  .skills {
    background: rgba(0, 0, 0, 0.5);
  }

  .name-input {
    width: 45%;
    height: 50px;
    margin: 7px 6px;
  }

  .email-input {
    width: 45%;
    height: 50px;
    margin: 7px 6px;
  }
}

@media (max-width: 991px) {
  body {
    text-align: center;
    z-index: -2;
  }
  /* 
  body.active {
    overflow-y: hidden;
  } */

  nav {
    background: #000;
    text-align: center;
    height: 70px;
    margin: 0px;
    z-index: 1;
  }
  /* 
  nav.active {
    z-index: -1;
  } */

  ul {
    padding-top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    bottom: -100%;
    text-align: center;
    transition: ease 0.8s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul.active {
    bottom: 0;
  }

  nav ul li {
    margin: 20px 0px;
    padding: 20px 0px;
    line-height: 12px;
    display: block;
  }

  nav ul li a {
    color: white;
    font-size: 17px;
  }

  nav ul li a:hover {
    color: #5f7e45;
    background: none;
  }

  .checkbtn {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    line-height: 70px;
    display: block;
    z-index: 1;
    margin: none;
    -webkit-tap-highlight-color: transparent;
  }

  .checkbtn:hover {
    color: none;
  }

  ul.active .checkbtn {
    height: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  .socials {
    padding: 90px 0px 0px 0px;
    color: #fff;
    display: inline-block;
  }

  .socials i {
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    color: rgb(63, 63, 63);
  }

  .socials i:hover {
    color: #b2c5b2;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .socials a {
    color: white;
  }

  header {
    height: 100vh;
    width: 100%;
    background: #000;
  }

  .header-text {
    padding: auto;
    margin: auto;
    z-index: auto;
    width: 100%;
  }

  header h1 {
    font-size: 36px;
    padding: 0px;
    color: white;
  }

  header p {
    font-size: 20px;
    padding: 0px;
    color: rgb(233, 233, 233);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
  }

  .dot {
    font-size: 40px;
    color: #6b8e4e;
  }

  .header-text i {
    color: #fff;
    font-size: 17px;
  }

  /* ABOUT ME */

  #About {
    margin: 50px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 0px;
  }

  #About h1 {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .about-div {
    height: fit-content;
    margin: 30px auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 50%;
    height: 450px;
    margin-bottom: 50px;
  }

  .about-img-div img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }
  .about-note {
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 0px 30px 30px;
    color: white;
  }

  .about-note h3 {
    color: #6b8e4e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
  }

  .arrow-up.active {
    z-index: 0;
  }

  /* Services */

  #Services h1 {
    padding: 0px 0px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    width: 40%;
    height: 335px;
    background-color: #000;
    color: white;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  /* CONTACT */

  #Contact {
    width: 100%;
    height: fit-content;
    background: #000;
  }

  #Contact h1 {
    padding: 0px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .extra-contact {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    margin: 80px 0px 0px 0px;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .container {
    width: 43%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 0px 0px 30px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .submit-btn {
    width: 30%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  .icon {
    margin-right: 30px;
  }

  .info {
    text-align: left;
  }

  .extra-contact .fa-github:hover {
    color: #6b8e4e;
  }

  .extra-contact .fa-instagram:hover {
    color: #bc2a8d;
  }

  .extra-contact .fa-twitter:hover {
    color: #1da1f2;
  }

  .extra-contact .fa-linkedin-in:hover {
    color: #0077b5;
  }

  /* FOOTER */
  footer {
    text-align: center;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer h4 {
    font-family: "poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    color: white;
    width: 50%;
  }

  footer div {
    width: 50%;
    text-align: center;
  }

  footer .info {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 875px) {
  h1 {
    font-size: 95px;
  }

  #arrow {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 90%;
    left: 48.7%;
    transform: translate(-50%, -50%);
  }
  /* ABOUT ME */

  #About {
    height: auto;
    margin: 0px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 30px;
  }

  #About h1 {
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .about-div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: fit-content;
    height: 450px;
    margin-bottom: 50px;
  }

  .about-img-div img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }
  .about-note {
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-note h3 {
    color: #6b8e4e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* Contact */

  input {
    background: rgba(255, 255, 255, 0.07);
    border: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }

  .name-input {
    width: 88%;
    height: 50px;
    margin: 7px 0px;
  }

  .email-input {
    width: 88%;
    height: 50px;
    margin: 7px 0px;
  }

  .subject-input {
    width: 88%;
    height: 50px;
    margin: 7px 0px;
  }

  textarea {
    width: 88%;
    font-size: 15px;
    height: auto;
    margin: 7px 0px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    color: white;
  }

  .extra-contact {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    margin: 80px 0px 0px 0px;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 80%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 0px 0px 30px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .icon {
    margin-right: 30px;
  }

  .info {
    text-align: left;
  }
}

@media (max-width: 650px) {
  .projects {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: 85%;
    height: fit-content;
    margin: 30px 0px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.04);
  }

  .project_image_div {
    width: 100%;
    height: 285px;
    margin: 0px;
  }

  .project__image {
    display: block;
    height: auto;
    max-width: 100%;
    image-rendering: optimizeSpeed;
  }

  .project_description {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 285px;
    text-align: center;
    position: relative;
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 30px 0px;
    background: #000;
  }

  #Contact h3 {
    padding: 0px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .extra-contact {
    display: block;
    width: 85%;
    height: fit-content;
    padding: 0px 0px;
    margin: 30px auto 50px auto;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 40px;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  #Contact form {
    width: 100%;
    margin: auto;
    padding: 0px 0px;
    text-align: center;
  }

  input {
    background: rgba(255, 255, 255, 0.07);
    border: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }

  .name-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .email-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .subject-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
    height: auto;
    margin: 7px 0px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    color: white;
  }

  .submit-btn {
    width: 60%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 505px) {
  #arrow {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 90%;
    left: 48.2%;
    transform: translate(-50%, -50%);
  }

  #About {
    height: fit-content;
    margin: 50px 15px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 30px;
  }

  .about-div {
    height: fit-content;
    margin: 0px auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
  }

  .about-img-div img {
    width: 80%;
    height: auto;
  }

  .about-note {
    margin: auto;
    width: 100%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 0px;
    color: white;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 50px;
  }

  .skill-header {
    margin-bottom: 0px;
  }

  #Skills-div {
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .skills {
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 10px 10px 0px;
    text-align: center;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
  }

  /* Portfolio */

  .projects {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: 96%;
    height: fit-content;
    margin: 40px 0px;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.04);
  }

  .project_image_div {
    width: 100%;
    height: fit-content;
    margin: 0px 0px 30px 0px;
  }

  .project__image {
    display: block;
    height: auto;
    max-width: 100%;
    image-rendering: optimizeSpeed;
  }

  .project_description {
    margin: 0;
    padding: 0;
    width: 300px;
    height: fit-content;
    text-align: center;
    position: relative;
  }

  .project_description #skills-div {
    padding-bottom: 20px;
  }

  .project_description .description {
    color: rgb(233, 233, 233, 0.8);
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
  }

  .project_links {
    width: 100%;
    height: 30px;
    display: block;
    position: relative;
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 60px 0px 30px 0px;
    background: #000;
  }

  #Contact h1 {
    padding: 0px 0px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  #Contact h3 {
    padding: 30px 0px 0px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .extra-contact {
    display: block;
    width: 90%;
    height: fit-content;
    padding: 0px 0px;
    margin: 0px auto 50px auto;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 30px;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .icon i {
    font-size: 23px;
    color: #6b8e4e;
    background-color: #000;
    padding: 15px;
    border-radius: 5px;
  }

  .info h4 {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
    color: rgba(225, 225, 225, 0.5);
    font-family: "Raleway", sans-serif;
  }

  .info p {
    font-size: 15px;
    font-family: "Open Sans", Courier, monospace;
  }

  .info i {
    font-size: 17px;
    padding-right: 20px;
  }

  #Contact form {
    width: 100%;
    margin: auto;
    padding: 0px 0px;
    text-align: center;
  }

  input {
    background: rgba(255, 255, 255, 0.07);
    border: none;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }

  .name-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .email-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .subject-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
    height: auto;
    margin: 7px 0px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    color: white;
  }

  .submit-btn {
    width: 60%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  footer {
    text-align: center;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer h4 {
    font-size: 17px;
    font-family: "poppins", sans-serif;
    padding: 0px;
    margin: 10px 0;
    color: white;
    width: 100%;
  }

  footer div {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

/* FONTS
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
