* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background: #000;
}

nav {
  height: 70px;
  width: 100%;
  text-align: center;
  /* position: fixed; */
  top: 0;
  z-index: 1;
}

.bgColor {
  background-color: #000;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.checkbtn {
  font-size: 25px;
  color: #b2c5b2;
  cursor: pointer;
  line-height: 65px;
  display: none;
}

#check {
  display: none;
}

.socials {
  display: none;
}

header {
  height: 100vh;
  background-color: #000;
}

.header-text {
  padding-left: 0px;
  width: fit-content;
  text-align: center;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-text p span {
  color: #6b8e4e;
}

/* header h3 {
  color: white;
  text-align: left;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 30px;
} */

header h1 {
  font-size: 45px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header p {
  font-size: 22px;
  color: rgb(233, 233, 233, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dot {
  font-size: 60px;
  color: #6b8e4e;
}

/* .header-text p{
    padding: 12px 14px;
    margin: 15px 0px;
    border
    color: white;
    width: 145px;
    background: #6B8E4E;
    display: inline-block;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
} */

.header-text i {
  color: #fff;
  font-size: 20px;
  padding: 12px 13px;
  margin: 15px 10px 15px 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.header-text i:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.header-text .fa-facebook-f {
  padding: 12px 16px;
}

.fa-linkedin-in {
  --animate-duration: 2s;
}

.fa-twitter {
  --animate-duration: 1.5s;
}

.fa-instagram {
  --animate-duration: 1s;
}

.fa-facebook {
  --animate-duration: 0.5s;
}

#arrow {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* text-div */
#text {
  width: 100%;
  height: 100vh;
  background: #6b8e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #40532f; */
  padding: 0px 120px 0px 120px;
  text-align: left;
}

#text h1 {
  font-size: 120px;
  color: #395f18;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: auto;
  line-height: 160px;
  /* text-transform: uppercase; */
}

#text b {
  color: black;
}

/* ABOUT ME */

#About {
  height: fit-content;
  max-width: 100%;
  margin: 150px 8%;
  padding: 0px 0px;
  background: rgb(0, 0, 0, 0.8);
}

#About h1 {
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

.about-div {
  /* width: 100%; */
  height: fit-content;
  margin: 70px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-img-div {
  width: 25%;
  height: 399px;
  margin-right: 30px;
}

#About img {
  /* width: 100%; */
  height: 399px;
  margin: 0px;
  /* box-shadow: 7px 7px #6b8e4e; */
}

.about-note {
  /* background: rgba(255, 255, 255, 0.05); */
  margin: 0px;
  width: 61%;
  height: fit-content;
  text-align: left;
  padding: 15px 25px;
  color: white;
  /* box-shadow: 0 4px 8px 0 rgba(107, 142, 78, 0.2), 0 6px 20px 0 rgba(107, 142, 78, 0.19); */
}

.about-note h3 {
  color: #6b8e4e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 7px;
}

.about-note-p {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 40px;
}

.skill-header {
  margin-bottom: 10px;
}

#Skills-div {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills {
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0px 10px 10px 0px;
  text-align: center;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-git-alt {
  color: #f34f29;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #2965f1;
}

.fa-bootstrap {
  color: #563d7c;
}

.arrow-up {
  width: 60px;
  height: 60px;
  background-color: #6b8e4e;
  font-size: 35px;
  padding-top: 3px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  border: 2px solid #202020;
  border-radius: 50%;
}

.arrow-up:active {
  background: #40532f;
}

.arrow-up-appear {
  visibility: visible;
}

.arrow-bg {
  background-color: #000;
  color: #6b8e4e;
}

/* Services */

#Services {
  width: 100%;
  height: fit-content;
  padding: 80px 0px;
  background: rgba(255, 255, 255, 0.06);
}

#Services h1 {
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.service {
  width: 90%;
  margin: auto;
  padding: 80px 0px 30px 0px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 29%;
  height: 335px;
  background-color: #000;
  color: white;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.box:hover {
  background: rgb(107, 142, 78);
  background: linear-gradient(
    180deg,
    rgba(107, 142, 78, 1) 0%,
    rgba(103, 134, 77, 1) 35%,
    rgba(61, 68, 55, 1) 100%
  );
  transition: linear-gradient 20s;
}

/* .box:hover i {
  background-color: #fff;
  color: #6b8e4e;
} */

.box i {
  font-size: 30px;
  padding: 20px;
  background: rgba(17, 17, 17, 0.778);
  border-radius: 5px;
  color: #6b8e4e;
}

.box h2 {
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
}

.box p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* Portfolio */
#Portfolio {
  width: 100%;
  height: fit-content;
  padding: 80px 0px;
  background: rgba(255, 255, 255, 0.06);
}

#Portfolio h1 {
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.projects {
  width: 90%;
  margin: auto;
  padding: 80px 0px 30px 0px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  width: 29%;
  height: 250px;
  margin: 15px;
  position: relative;
  cursor: pointer;
}

/* .projects .box:hover {
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
} */

.project__image {
  display: block;
  width: 100%;
  height: 100%;
}

.project:hover {
  filter: grayscale(100%);
  transition: filter 0.9s;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans serif;
  opacity: 0;
  transition: opacity 0.9s;
  text-align: center;
}

.project__overlay > * {
  transform: translateY(20px);
  transition: transform 0.9s;
}

.project__overlay:hover > * {
  transform: translateY(0);
}

.project__overlay:hover {
  opacity: 1;
}

.project__text {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.project__p {
  font-size: 15px;
  font-weight: lighter;
}

/* Contact */

#Contact {
  width: 100%;
  height: fit-content;
  padding: 100px 0px 80px 0px;
  background: #000;
}

#Contact h1 {
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#Contact h3 {
  padding: 0px 0px;
  font-size: 35px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#Contact form {
  width: 100%;
  padding: 50px 30px;
  text-align: center;
  /* background-color: #111; */
}

input {
  background: rgba(255, 255, 255, 0.07);
  border: none;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
}

input:focus {
  outline: none;
}

.name-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.email-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.subject-input {
  width: 88%;
  height: 50px;
  margin: 7px 0px;
}

textarea {
  width: 88%;
  font-size: 15px;
  height: auto;
  margin: 7px 0px;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.07);
  border: none;
  color: white;
}

textarea:focus {
  outline: none;
}

.submit-btn {
  width: 20%;
  height: 50px;
  background: #5f7e45;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.submit-btn:hover {
  background: #40532f;
  transition: ease-in-out 0.5s;
}

.extra-contact {
  display: block;
  width: 100%;
  height: fit-content;
  padding: 10px 30px;
  margin: 80px 0px;
  background: none;
}

.left-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.container {
  width: 43%;
  height: 130px;
  background: rgba(255, 255, 255, 0.07);
  color: white;
  padding: 0px 0px 0px 50px;
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.right-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon {
  margin-right: 50px;
}

.icon i {
  font-size: 30px;
  color: #6b8e4e;
  background-color: #000;
  padding: 15px;
  border-radius: 5px;
}

.info h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 0px 0px 10px 0px;
  color: rgba(225, 225, 225, 0.5);
  font-family: "Raleway", sans-serif;
}

.info p {
  font-size: 17px;
  font-family: "Open Sans", Courier, monospace;
}

.info i {
  font-size: 20px;
  padding-right: 20px;
}

.info a {
  color: white;
}

.info .fa-facebook-f:hover {
  color: #4267b2;
}

.info .fa-instagram:hover {
  color: #bc2a8d;
}

.info .fa-twitter:hover {
  color: #1da1f2;
}

.info .fa-linkedin-in:hover {
  color: #0077b5;
}

/* FOOTER */

footer {
  text-align: center;
  height: 60px;
  font-family: "Quicksand", sans-serif;
}

footer p {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  color: white;
}

/********************************************************BREAKS***********************************************/
@media (max-width: 1200px) {
  #About {
    height: fit-content;
    max-width: 100%;
    margin: 150px 2%;
    padding: 0px 0px;
    background: rgb(0, 0, 0, 0.8);
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    width: 40%;
    height: 335px;
    background-color: #000;
    color: white;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
  }

  #text {
    width: 100%;
    height: 100vh;
    background: #6b8e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #40532f; */
    padding: 0px 120px;
  }

  #text h1 {
    font-size: 90px;
    color: #395f18;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: auto;
    line-height: 140px;
    /* text-transform: uppercase; */
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 40px 0px;
    background: #000;
  }

  .name-input {
    width: 43%;
    height: 50px;
    margin: 7px 7px;
  }

  .email-input {
    width: 43%;
    height: 50px;
    margin: 7px 7px;
  }
}

@media (max-width: 1050px) {
  #About {
    height: 1110px;
    max-width: 100%;
    margin: 50px;
    padding: 0px 0px;
    background: rgb(0, 0, 0, 0.8);
  }

  .about-div {
    height: fit-content;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 50%;
    height: 450px;
    margin: 50px 0px;
  }

  #About img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }

  .about-note {
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .projects {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    width: 40%;
    height: 250px;
    margin: 15px;
    position: relative;
    cursor: pointer;
  }

  .name-input {
    width: 43%;
    height: 50px;
    margin: 7px 6px;
  }

  .email-input {
    width: 43%;
    height: 50px;
    margin: 7px 6px;
  }
}

@media (max-width: 991px) {
  body {
    text-align: center;
    z-index: -2;
  }

  nav {
    background: black;
    text-align: center;
    height: 70px;
    margin: 0px;
    z-index: 1;
  }

  ul {
    padding-top: 120px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: -100%;
    text-align: center;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s;
    z-index: -1;
  }

  nav ul li {
    margin: 20px 0px;
    padding: 20px 0px;
    line-height: 12px;
    display: block;
  }

  nav ul li a {
    color: white;
    font-size: 15px;
  }

  nav ul li a:hover {
    color: #b2c5b2;
    background: none;
  }

  .checkbtn {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    line-height: 70px;
    display: inline-block;
    z-index: 1;
    margin: none;
  }

  .checkbtn:hover {
    color: none;
  }

  .socials {
    padding: 90px 0px 0px 0px;
    color: #fff;
    display: inline-block;
  }

  .socials i {
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
  }

  .socials i:hover {
    color: #b2c5b2;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .socials a {
    color: white;
  }

  header {
    height: 100vh;
    width: 100%;
    background: #000;
    /* z-index: -5; */
  }

  .header-text {
    padding: auto;
    margin: auto;
    z-index: auto;
    width: 100%;
  }

  header h1 {
    font-size: 36px;
    padding: 0px;
    color: white;
  }

  header p {
    font-size: 20px;
    padding: 0px;
    color: rgb(233, 233, 233);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
  }

  .dot {
    font-size: 40px;
    color: #6b8e4e;
  }

  .header-text i {
    color: #fff;
    font-size: 17px;
    padding: 12px 13px;
    margin: 15px 10px 15px 0px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }

  /* ABOUT ME */

  #About {
    /* height: auto; */
    margin: 50px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 0px;
  }

  #About h1 {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .about-div {
    height: fit-content;
    margin: 30px auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 50%;
    height: 450px;
    margin-bottom: 50px;
  }

  #About img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }
  .about-note {
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-note h3 {
    color: #6b8e4e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
  }

  /* Services */

  #Services h1 {
    padding: 0px 0px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    width: 40%;
    height: 335px;
    background-color: #000;
    color: white;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  /* CONTACT */

  #Contact {
    width: 100%;
    height: fit-content;
    background: #111;
  }

  #Contact h1 {
    padding: 0px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .extra-contact {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    margin: 80px 0px;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .container {
    width: 43%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 0px 0px 30px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

  .submit-btn {
    width: 30%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

  .icon {
    margin-right: 30px;
  }

  .info {
    text-align: left;
  }

  .extra-contact .fa-facebook-f:hover {
    color: #4267b2;
  }

  .extra-contact .fa-instagram:hover {
    color: #bc2a8d;
  }

  .extra-contact .fa-twitter:hover {
    color: #1da1f2;
  }

  .extra-contact .fa-linkedin-in:hover {
    color: #0077b5;
  }

  /* FOOTER */

  footer {
    text-align: center;
    height: 40px;
    font-family: "Quicksand", sans-serif;
  }

  footer p {
    /* font-size: 10px; */
    font-family: "Quicksand", sans-serif;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: white;
    line-height: 50px;
  }

  /* #check:checked ~ ul{
        top: 0;
    }

    #check:checked ~ .checkbtn{
      color: #fff;
    }

    #check:checked ~ label.logo{
      display: none;
    } */

  /* #check:checked ~ .scroll{
        position: absolute;
        display: none;
    } */

  /* section{
        background: url(bg.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
    } */
}

@media (max-width: 875px) {
  h1 {
    font-size: 95px;
  }
  /* ABOUT ME */

  #About {
    height: auto;
    margin: 0px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 30px;
  }

  #About h1 {
    /* padding-top: 30px; */
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  .about-div {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 50%;
    height: 450px;
    margin-bottom: 50px;
  }

  #About img {
    height: 450px;
    margin: 0px auto;
    display: grid;
    place-items: center;
  }
  .about-note {
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-note h3 {
    color: #6b8e4e;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .box {
    width: 80%;
    height: 335px;
    background-color: #000;
    color: white;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
  }

  #text {
    width: 100%;
    height: 90vh;
    background: #6b8e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #40532f; */
    padding: 0px 90px;
    text-align: left;
  }

  #text h1 {
    font-size: 75px;
    color: #395f18;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: auto;
    line-height: normal;
    /* text-transform: uppercase; */
  }

  .projects {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project {
    width: 70%;
    height: auto;
    margin: 15px;
    position: relative;
    cursor: pointer;
  }

  .project__overlay {
    padding: 0px 30px;
  }

  /* Contact */

  .name-input {
    width: 43%;
    height: 50px;
    margin: 7px 5px;
  }

  .email-input {
    width: 43%;
    height: 50px;
    margin: 7px 5px;
  }

  .extra-contact {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 30px;
    margin: 80px 0px;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 80%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 0px 0px 30px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

  .icon {
    margin-right: 30px;
  }

  .info {
    text-align: left;
  }
}

@media (max-width: 650px) {
  #text {
    width: 100%;
    height: fit-content;
    background: #6b8e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #40532f; */
    padding: 50px 90px;
    text-align: left;
  }

  #text h1 {
    font-size: 65px;
    color: #395f18;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: auto;
    line-height: normal;
    /* text-transform: uppercase; */
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 100px 0px 30px 0px;
    background: #000;
  }

  #Contact h3 {
    padding: 0px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .extra-contact {
    display: block;
    width: 85%;
    height: fit-content;
    padding: 0px 0px;
    margin: 30px auto 50px auto;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 40px;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  #Contact form {
    width: 85%;
    margin: auto;
    padding: 0px 0px;
    text-align: center;
    /* background-color: #111; */
  }

  input {
    background: rgba(255, 255, 255, 0.07);
    border: none;
    /* padding: 20px 20px; */
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }

  .name-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .email-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .subject-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
    height: auto;
    margin: 7px 0px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    color: white;
  }

  .submit-btn {
    width: 60%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 505px) {
  #arrow {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 90%;
    left: 48.35%;
    transform: translate(-50%, -50%);
  }

  #About {
    height: 1300px;
    margin: 50px 15px;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 30px;
  }

  .about-div {
    height: fit-content;
    margin: 0px auto 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-div {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
  }

  #About img {
    width: 80%;
    height: auto;
  }

  .about-note {
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    width: 100%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-note-p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 50px;
  }

  .skill-header {
    margin-bottom: 0px;
  }

  #Skills-div {
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .skills {
    padding: 10px 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 10px 10px 0px;
    text-align: center;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
  }

  /* Services */

  #Services h1 {
    padding: 0px 0px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .service {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .box {
    width: 90%;
    height: 335px;
    background-color: #000;
    color: white;
    padding: 0px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
  }

  /* text-div */
  #text {
    width: 100%;
    height: fit-content;
    background: #6b8e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* color: #40532f; */
    padding: 50px 0px 50px 50px;
  }

  #text h1 {
    font-size: 60px;
    color: #395f18;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    /* margin: auto; */
    line-height: normal;
    /* text-transform: uppercase; */
  }

  /* Portfolio */
  #Portfolio {
    width: 100%;
    height: fit-content;
    padding: 80px 0px;
    background: rgba(255, 255, 255, 0.06);
  }

  #Portfolio h1 {
    padding: 0px 0px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  .projects {
    width: 90%;
    margin: auto;
    padding: 80px 0px 30px 0px;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: 90%;
    height: auto;
    margin: 15px;
    position: relative;
    cursor: pointer;
  }

  /* Contact */

  #Contact {
    width: 100%;
    height: fit-content;
    padding: 60px 0px 30px 0px;
    background: #000;
  }

  #Contact h1 {
    padding: 0px 0px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  #Contact h3 {
    padding: 0px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  .extra-contact {
    display: block;
    width: 90%;
    height: fit-content;
    padding: 0px 0px;
    margin: 0px auto 50px auto;
    background: none;
  }

  .left-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .container {
    width: 100%;
    height: 130px;
    background: rgba(255, 255, 255, 0.07);
    color: white;
    padding: 0px 30px;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
  }

  .right-div {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .icon i {
    font-size: 23px;
    color: #6b8e4e;
    background-color: #000;
    padding: 15px;
    border-radius: 5px;
  }

  .info h4 {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
    color: rgba(225, 225, 225, 0.5);
    font-family: "Raleway", sans-serif;
  }

  .info p {
    font-size: 15px;
    font-family: "Open Sans", Courier, monospace;
  }

  .info i {
    font-size: 17px;
    padding-right: 20px;
  }

  #Contact form {
    width: 90%;
    margin: auto;
    padding: 0px 0px;
    text-align: center;
    /* background-color: #111; */
  }

  input {
    background: rgba(255, 255, 255, 0.07);
    border: none;
    /* padding: 20px 20px; */
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: white;
  }

  .name-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .email-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  .subject-input {
    width: 100%;
    height: 50px;
    margin: 7px 0px;
  }

  textarea {
    width: 100%;
    font-size: 15px;
    height: auto;
    margin: 7px 0px;
    padding: 20px 20px;
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    color: white;
  }

  .submit-btn {
    width: 60%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }
}

/* FONTS

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
