* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background: #000;
}

nav {
  height: 70px;
  width: 100%;
  text-align: center;
  /* position: fixed; */
  top: 0;
  /* background: #000; */
  z-index: 1;
}

.bgColor {
  background-color: #000;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 20px;
}

nav ul li a {
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.checkbtn {
  font-size: 25px;
  color: #b2c5b2;
  cursor: pointer;
  line-height: 65px;
  display: none;
}

#check {
  display: none;
}

.socials {
  display: none;
}

header {
  height: 100vh;
  background-color: #000;
}

.header-text {
  padding-top: 150px;
  padding-left: 375px;
  width: 100%;
  text-align: left;
}

.header-text h2 span {
  color: #6b8e4e;
}

header h1 {
  font-size: 50px;
  letter-spacing: normal;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header h2 {
  font-size: 22px;
  color: rgb(233, 233, 233, 0.8);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.dot {
  font-size: 60px;
  color: #6b8e4e;
}

/* .header-text p{
    padding: 12px 14px;
    margin: 15px 0px;
    border
    color: white;
    width: 145px;
    background: #6B8E4E;
    display: inline-block;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
} */

.header-text i {
  color: #fff;
  font-size: 20px;
  padding: 12px 13px;
  margin: 15px 10px 10px 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.header-text i:hover {
  color: #6b8e4e;
  transition: 0.5s;
}

.header-text .fa-facebook-f {
  padding: 12px 16px;
}

.fa-linkedin-in {
  --animate-duration: 2s;
}

.fa-twitter {
  --animate-duration: 1.5s;
}

.fa-instagram {
  --animate-duration: 1s;
}

.fa-facebook {
  --animate-duration: 0.5s;
}

#arrow {
  font-size: 20px;
  color: white;
  margin: 140px auto 0px 650px;
  padding: 12px 13px;
}

/* text-div */
#text {
  width: 100%;
  height: 100vh;
  background: #6b8e4e;
  /* color: #40532f; */
  padding: 150px 150px 0px 150px;
}

#text h1 {
  font-size: 100px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  margin: auto;
  /* text-transform: uppercase; */
}

#text b {
  font-weight: bolder;
}

/* ABOUT ME */

#About {
  height: fit-content;
  margin: 80px 0px;
  background: rgb(0, 0, 0, 0.8);
}

#About h1 {
  letter-spacing: 1px;
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* #About h2 {
  top: 685px;
  right: 550px;
  font-weight: 700;
  position: absolute;
  letter-spacing: 2px;
  padding-top: 5px;
  font-size: 50px;
  text-align: center;
  color: rgb(255, 255, 255, 0.05);
  font-family: "Poppins", sans-serif;
} */

#About img {
  width: 20%;
  margin: 70px 10px 50px 150px;
  box-shadow: 7px 7px #6b8e4e;
}

.about-note {
  background: rgba(255, 255, 255, 0.1);
  margin: 70px 150px 50px 10px;
  width: 55%;
  float: right;
  height: 405px;
  text-align: left;
  padding: 25px 45px;
  color: white;
  /* box-shadow: 0 4px 8px 0 rgba(107, 142, 78, 0.2), 0 6px 20px 0 rgba(107, 142, 78, 0.19); */
}

.about-note h3 {
  color: #6b8e4e;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 7px;
}

.about-note-p {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 40px;
}

/* Projects */

/* #Skills-section {
  width: 100%;
  height: 700px;
  background: #6b8e4e;
} */

.skill-header {
  margin-bottom: 10px;
}

#Skills-div {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.skills {
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  text-align: center;
  display: inline;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
}

.arrow-up {
  width: 60px;
  height: 60px;
  background-color: #6b8e4e;
  font-size: 35px;
  padding-top: 3px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  border: none;
  border-radius: 50%;
}

.arrow-up:active {
  background: #40532f;
}

.arrow-up-appear {
  visibility: visible;
}

.arrow-bg {
  background-color: #000;
  color: #6b8e4e;
}

/* Services */

#Services {
  width: 100%;
  height: fit-content;
  padding: 80px 0px;
  background: rgba(255, 255, 255, 0.06);
}

#Services h1 {
  letter-spacing: 2px;
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.service {
  width: 90%;
  margin: auto;
  padding: 80px 0px 30px 0px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 29%;
  height: 335px;
  background-color: #000;
  color: white;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.box:hover {
  background-color: #6b8e4e;
  transition: ease-in-out 0.9s;
}

/* .box:hover i {
  background-color: #fff;
  color: #6b8e4e;
} */

.box i {
  font-size: 30px;
  padding: 20px;
  background: rgba(17, 17, 17, 0.778);
  border-radius: 5px;
  color: #6b8e4e;
}

.box h2 {
  padding: 20px 0px;
  font-family: "Poppins", sans-serif;
}

.box p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* Portfolio */
#Portfolio {
  width: 100%;
  height: fit-content;
  padding: 80px 0px;
  background: rgba(255, 255, 255, 0.06);
}

#Portfolio h1 {
  letter-spacing: 2px;
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.projects {
  width: 90%;
  margin: auto;
  padding: 80px 0px 30px 0px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  width: 29%;
  height: 250px;
  margin: 15px;
  position: relative;
  cursor: pointer;
}

/* .projects .box:hover {
  filter: grayscale(100%);
  transition: ease-in-out 0.3s;
} */

.project__image {
  display: block;
  width: 100%;
  height: 100%;
}

.project:hover {
  filter: grayscale(100%);
  transition: filter 0.9s;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans serif;
  opacity: 0;
  transition: opacity 0.9s;
  text-align: center;
}

.project__overlay > * {
  transform: translateY(20px);
  transition: transform 0.9s;
}

.project__overlay:hover > * {
  transform: translateY(0);
}

.project__overlay:hover {
  opacity: 1;
}

.project__text {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.project__p {
  font-size: 15px;
  font-weight: lighter;
}

/* Contact */

#Contact {
  width: 100%;
  height: fit-content;
  padding: 100px 0px 80px 0px;
  background: #000;
}

#Contact h1 {
  letter-spacing: 2px;
  padding: 0px 0px;
  font-size: 45px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#Contact h3 {
  letter-spacing: 2px;
  padding: 0px 0px;
  font-size: 35px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#Contact form {
  width: 100%;
  padding: 50px 30px;
  text-align: center;
  /* background-color: #111; */
}

input {
  background: rgba(255, 255, 255, 0.07);
  border: none;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
}

input:focus {
  outline: none;
}

.name-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.email-input {
  width: 43%;
  height: 50px;
  margin: 7px 10px;
}

.subject-input {
  width: 88%;
  height: 50px;
  margin: 7px 0px;
}

textarea {
  width: 88%;
  font-size: 15px;
  height: auto;
  margin: 7px 0px;
  padding: 20px 20px;
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.07);
  border: none;
  color: white;
}

textarea:focus {
  outline: none;
}

.submit-btn {
  width: 20%;
  height: 50px;
  background: #5f7e45;
  color: white;
  border: none;
  margin-top: 15px;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.submit-btn:hover {
  background: #40532f;
  transition: ease-in-out 0.5s;
}

.extra-contact {
  display: block;
  width: 100%;
  height: fit-content;
  padding: 10px 30px;
  margin: 80px 0px;
  background: none;
}

.left-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.container {
  width: 43%;
  height: 130px;
  background: rgba(255, 255, 255, 0.07);
  color: white;
  padding: 0px 0px 0px 50px;
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.right-div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon {
  margin-right: 50px;
}

.icon i {
  font-size: 30px;
  color: #6b8e4e;
  background-color: #000;
  padding: 15px;
  border-radius: 5px;
}

.info h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 0px 0px 10px 0px;
  color: rgba(225, 225, 225, 0.5);
  font-family: "Raleway", sans-serif;
}

.info p {
  font-size: 17px;
  font-family: "Open Sans", Courier, monospace;
}

.info i {
  font-size: 20px;
  padding-right: 20px;
}

.info a {
  color: white;
}

.info .fa-facebook-f:hover {
  color: #4267b2;
}

.info .fa-instagram:hover {
  color: #bc2a8d;
}

.info .fa-twitter:hover {
  color: #1da1f2;
}

.info .fa-linkedin-in:hover {
  color: #0077b5;
}

/* FOOTER */

footer {
  text-align: center;
  height: 60px;
  font-family: "Quicksand", sans-serif;
}

footer p {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif;
  padding: 20px 0px 0px 0px;
  margin: 0px;
  color: white;
}

footer #arrow {
  position: absolute;
  font-size: 40px;
  color: white;
  top: 2400px;
  right: 50px;
  margin: auto;
  padding: auto 0px;
  transform: rotate(180deg);
}

footer #arrow:hover {
  color: #6b8e4e;
  transition: ease-in-out 0.9s;
}

@media (max-width: 925px) {
  nav ul {
    margin-right: 30px;
  }

  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  body {
    text-align: center;
    z-index: -2;
  }

  nav {
    background: black;
    text-align: center;
    height: 70px;
    margin: 0px;
    z-index: 1;
    /* z-index helps to keep the body behind the nav-ul */
  }

  ul {
    padding-top: 120px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: -100%;
    text-align: center;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s;
    z-index: -1;
  }

  nav ul li {
    margin: 20px 0px;
    padding: 20px 0px;
    line-height: 12px;
    display: block;
  }

  nav ul li a {
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
  }

  nav ul li a:hover {
    color: #b2c5b2;
    background: none;
  }

  .checkbtn {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    line-height: 70px;
    display: inline-block;
    z-index: 1;
    margin: none;
  }

  .checkbtn:hover {
    color: none;
  }

  .socials {
    padding: 90px 0px 0px 0px;
    color: #fff;
    display: inline-block;
  }

  .socials i {
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
  }

  .socials i:hover {
    color: #b2c5b2;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .socials a {
    color: white;
  }

  header {
    height: 100vh;
    width: 100%;
    background: #000;
    /* z-index: -5; */
  }

  .header-text {
    padding: auto;
    margin: auto;
    z-index: auto;
    width: 100%;
  }

  header h1 {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 0px;
    color: white;
  }

  header h2 {
    font-size: 13px;
    padding: 0px;
    color: rgb(233, 233, 233);
    font-family: "Quicksand", sans-serif;
  }

  .header-socials {
    color: #000;
    padding: 20px 0px 20px 0px;
  }

  .header-socials i {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 13px;
    margin: 0 5px;
    border-radius: 50%;
    background: rgb(233, 233, 233, 0.1);
  }

  .header-socials i:hover {
    background: #6b8e4e;
    transition: all 0.5s;
  }

  .header-socials i:nth-child(4) {
    padding: 12px 16px;
  }

  #arrow {
    font-size: 20px;
    color: white;
    margin-top: 140px;
    margin-left: auto;
    border-radius: 50%;
    padding: 12px 13px;
  }

  #arrow:hover {
    color: #6b8e4e;
  }

  /* ABOUT ME */

  #About {
    height: auto;
    background: rgb(0, 0, 0, 0.8);
    padding-bottom: 90px;
  }

  #About h1 {
    letter-spacing: 2px;
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  #About h2 {
    position: absolute;
    font-weight: 700;
    letter-spacing: 2px;
    top: 683px;
    left: 0px;
    padding: 0px;
    font-size: 50px;
    width: 100%;
    color: rgb(255, 255, 255, 0.07);
    font-family: "Poppins", sans-serif;
  }

  .about-div {
    width: 100%;
    height: auto;
  }

  img {
    width: 50%;
    margin: 50px auto 50px;
    box-shadow: 7px 7px #6b8e4e;
  }

  .about-note {
    background: rgba(255, 255, 255, 0.05);
    margin: auto;
    width: 90%;
    float: none;
    height: auto;
    text-align: left;
    padding: 30px 30px;
    color: white;
  }

  .about-note h3 {
    color: #6b8e4e;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 20px;
  }

  .about-note p {
    font-family: "Quicksand", sans-serif;
    padding-bottom: 20px;
  }

  /* text-div */
  #text {
    width: 100%;
    height: 100vh;
    background: #6b8e4e;
    padding: 100px 0px 0px 0px;
  }

  #text h1 {
    font-size: 70px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin: auto;
  }

  /* CONTACT */

  #Contact {
    width: 100%;
    height: 170vh;
    background: #111;
  }

  #Contact h1 {
    letter-spacing: 2px;
    padding: 20px 0px 50px 0px;
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  #Contact form {
    width: 100%;
    padding: 0px 10px;
    text-align: center;
  }

  input {
    background: rgb(245, 245, 245);
    border: none;
    padding: 20px 10px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 15px;
  }

  input:focus {
    outline: none;
  }

  .name-input {
    width: 100%;
    height: 50px;
  }

  .email-input {
    width: 100%;
    height: 50px;
    margin-left: 0px;
  }

  .subject-input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px 10px;
    font-family: "Poppins", sans-serif;
    background: rgb(245, 245, 245);
    border: none;
  }

  textarea:focus {
    outline: none;
  }

  .submit-btn {
    width: 100%;
    height: 50px;
    background: #5f7e45;
    color: white;
    border: none;
    margin: 15px 0px 30px 0px;
    padding: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
  }

  .submit-btn:hover {
    background: #6b8e4e;
  }

  .extra-contact {
    text-align: left;
    display: inline-block;
    width: 90%;
    /* height: 440px; */
    padding: 10px 0px;
    margin: 0px 0px 0px 0px;
    background: none;
  }

  .extra-contact div {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 24%;
    padding: 0px 0px;
    margin-bottom: 5px;
    color: white;
    /* background: #000; */
    border-bottom: 1px solid rgba(107, 142, 78, 1);
  }

  .extra-contact div h4 {
    letter-spacing: 1px;
    font-size: 20px;
    padding: 40px 0px 5px 0px;
  }

  .extra-contact div p {
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
  }

  .extra-contact div i {
    font-size: 17px;
    padding-right: 30px;
  }

  .extra-contact div a {
    color: white;
  }

  .extra-contact .fa-facebook-f:hover {
    color: #4267b2;
  }

  .extra-contact .fa-instagram:hover {
    color: #bc2a8d;
  }

  .extra-contact .fa-twitter:hover {
    color: #1da1f2;
  }

  .extra-contact .fa-linkedin-in:hover {
    color: #0077b5;
  }

  /* FOOTER */

  footer {
    text-align: center;
    height: 40px;
    font-family: "Quicksand", sans-serif;
  }

  footer p {
    font-size: 10px;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif;
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: white;
    line-height: 50px;
  }

  footer #arrow {
    position: absolute;
    font-size: 40px;
    color: white;
    top: 2400px;
    right: 50px;
    margin: auto;
    padding: auto 0px;
    transform: rotate(180deg);
  }

  footer #arrow:hover {
    color: #6b8e4e;
    transition: ease-in-out 0.9s;
  }

  /* #check:checked ~ ul{
        top: 0;
    }

    #check:checked ~ .checkbtn{
      color: #fff;
    }

    #check:checked ~ label.logo{
      display: none;
    } */

  /* #check:checked ~ .scroll{
        position: absolute;
        display: none;
    } */

  /* section{
        background: url(bg.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
    } */
}

/* FONTS

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;

*/
